[class^="col"] {
    border: 1px dashed;
    height: 60px;
}

#site_header {
    background-color: aqua;
}

.star_design {
    background-color: rgb(11, 80, 80);
}

.custom_button {
    width: 50%;
}
.custom_button_contact {
    width: 30%;
    align-self: flex-start;
}