:root {
    --bootstrap--primary: rgba(26, 188, 156, 1);
    --bootstrap--header: rgba(44, 62, 80, 1);
    --bootstrap--light: rgba(255, 255, 255, 1);
    --bootstrap--footer: rgba(58, 84, 109, 1);
    --bootstrap--dark: rgba(44, 62, 80, 1);
}




[class^="col"] {
  /*   border: 1px dashed; */
   /*  height: 60px; */
}

#site_header {
    background-color:var(--bootstrap--header);
}

.star_design {
    background-color: rgb(11, 80, 80);
}

.custom_button {
    width: 25%;
}

.custom_button_contact {
    width: 30%;
    align-self: flex-start;
}
.design_img{
    height: 200px;
}
#jumbo{
    background-color: var(--bootstrap--primary);
}